<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vanilla App Template</title>
    <link rel="stylesheet" href="/src/css/modal.css" />
  </head>
  <body>
    
    <main>
      <button id="open-modal">Відкрити модальне вікно</button>

      <div class="modal-overlay" id="modal-overlay"></div>
    
      <div class="modal" id="modal">
        <p>Це просте модальне вікно</p>
        <button class="close-btn" id="close-modal">Закрити</button>
      </div>
       
    </main>

    

    <script type="module" src="/src/js/modal.js"></script>
  </body>
</html>